* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #F6F6F6;
}

.marquee {
    background: #F6F6F6;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    border-bottom: .5px solid gray;
}

.marquee img {
    margin: 4px 0 4px 0;
    display: inline-block;
    margin-right: 20px; /* Adjust this to increase/decrease the space between images */
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

img {
    height: 100px;
    width: 100px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.choose {
    width: 700px;
    padding: 30px 24px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
}

.form-select {
    width: 100%;
    padding: 8px;
    margin: 10px 0 20px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #3e8e41;
}

/* Добавление стиля для заголовка */
.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.description {
    margin-top: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.text-animation p {
    opacity: 0;
}

.text-animation p {
    animation: fadeIn 1s ease-out forwards;
    animation-delay: .5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Стилизация опций внутри select */
.form-select option {
    background-color: #fff;
    color: #333;
}

/* Стилизация обязательных полей */
.form-select[required] {
    border-left: 5px solid red;
}

/* Стилизация кнопки при наведении мыши */
.form-button:hover {
    background-color: #3e8e41;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/* Стилизация кнопки при активации */
.form-button:active {
    background-color: #1e4420;
}
